.boxes {
  margin: 0 auto;
  position: relative;
  background: rgba(0, 0, 0, .2);
  box-shadow: 0px 3px 5px black;
  width: 300px;
  height: 180px;
  display: inline-block;
  border-radius: 5px;
  margin: 10 10;
  padding: 0 20;
  vertical-align: middle;
  transition: background-color 0.2s, filter 0.2s;
}
  
  .boxes::before {
	  content: '';
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  filter: blur(10px);
	  z-index: -1;
  }
  
.box:hover {
  background-color: rgb(0, 0, 0, .5);
}

a{
    color: lightblue;
    text-decoration: none;
}

body {
    background-color: #121212;
    color: white;
    text-align: center;
    align-items: center;
}

.nav {
    background-color: #121212;
    color: white;
}

.creditimg {
    border-radius: 50%;
}

footer {
    padding: 0px;
    text-align: center;
    color: white;
}
